@page
@model BulletinBoard.Pages.About

@{
    ViewData["Title"] = "Помощь";
}

<h3>Помощь по созданию объявлений</h3>

<p>### Создание объявления ###</p>
    <ol>
        <li>Пользователь открывает доску объявлений</li>
        <li>Заполняет поля:
        <ul>
            <li>Адрес электронной почты</li>
            <li>Тема объявления</li>
            <li>Текст объявление</li>
        </ul>
        <li>Информирует систему о необходимости создать объявление кнопкой "Создать Объявление"</li>
        <li>Система сохраняет объявление, выводит пароль для удаления объявления или комментариев к нему.</li>
    </ol>

<p >### Удаление объявления ###</p>

<ol >
    <li >Пользователь открывает доску</li>
    <li >Находит нужное объявление</li>
    <li >Информирует систему об необходимости его удалить</li>
    <li >Система запрашивает пароль на удаление</li>
    <li >Пользователь вводит пароль, если он верен - удаляет объявление</li>
</ol>

<p >### Просмотр объявления ###</p>
<ol >
    <li >Пользователь открывает доску</li>
    <li >Выбирает объявление</li>
    <li >Система отражает объявление и 25 последних комментариев к нему</li>
    <li >Если комментариев больше 25, предлагает просмотреть остальные</li>
</ol>

<p >### Создание комментария ###</p>

<ol >
    <li >Пользователь открывает доску</li>
    <li >Выбирает объявление</li>
    <li >Информирует систему об необходимости создать комментарий:</li>
    <ul >
        <li >Вводит Имя</li>
        <li >Текст комментария</li>
        <li >Нажимает сохранить</li>
    </ul>
</ol>

<p >### Удаление комментария ###</p>

<ol >
    <li >Пользователь открывает доску</li>
    <li >Выбирает объявление</li>
    <li >Выбирает нужный комментарий</li>
    <li >Информирует систему об необходимости его удалить</li>
    <li >Система запрашивает пароль от объявления</li>
    <li >Пользователь вводит пароль, если он верен удаляет комментарий</li>
</ol>

<p >### Просмотр списка объявлений ###</p>

<ol >
    <li >Пользователь открывает основную страницу сайта</li>
    <li >Видит таблицу содержащую:</li>
    <ul >
        <li >Электронную почту автора</li>
        <li >Заголовок объявления</li>
        <li >Дату добавления</li>
        <li >Дату последнего комментария</li>
    </ul>
    <li >Пользователь может перейти в любое объявление</li>
    <li >Пользователь может отсортировать объявление по любой колонке</li>
    <li >Пользователь может произвести поиск среди объявлений по:</li>
    <ul >
        <li >Автору</li>
        <li >Датам</li>
        <li >Заголовоку объявления</li>
    </ul>
</ol>  
